<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Reviews</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <a href="/books"class="col-md-8">Home</a>
            <a href="" class="col-md-3 text-right">Add Book and Review</a>
            <a href="/logout" class="col-md-1 text-right">Log Out</a>
        </div>
        <hr>
        <div>
            <h5>User Alias: {{user.first_name}}</h5>
            <p>Name: {{user.first_name}} {{user.last_name}}</p>
            <p>Email: {{user.email}}</p>
            <p>Total reviews: {{reviews.count}}</p>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-5">
                <h4>Posted Reviews on the following books:</h4>
                {% for review in reviews %}
                    <p><a href="/books/{{review.book.id}}">{{review.book.title}}</a></p>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>