<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book and Review</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript"></script>

</head>
<body>
    <div class="container">
        <div class="row">
            <a href="/books" class="col-md-11 text-right">Home</a>
            <a href="/logout" class="col-md-1 text-right">Log Out</a>
        </div>
        <hr>
        <div class="row">
            <h4>Add a New Book Title and a Review:</h4>
            <form action="/add" method="post" class="form-control">
                {% csrf_token %}
                <div>Book Title: <input type="text" name="title"></div>
                <div>Author: <br>
                    &nbsp &nbsp Choose from the list: <select name="author1">
                        <option></option>
                        {% for author in authors %}    
                            <option value="{{author.id}}">{{author.name}}</option>
                        {% endfor %}
                    </select><br>
                    &nbsp &nbsp Or add a new author: <input type="text" name="author2">
                </div>
                <div>Review: <input type="text" name="comment"></div>
                <div>Rating: 
                    <select name="rating">
                        <option value="1">&#9733; &#9734; &#9734; &#9734; &#9734;</option>
                        <option value="2">&#9733; &#9733; &#9734; &#9734; &#9734;</option>
                        <option value="3">&#9733; &#9733; &#9733; &#9734; &#9734;</option>
                        <option value="4">&#9733; &#9733; &#9733; &#9733; &#9734;</option>
                        <option value="5">&#9733; &#9733; &#9733; &#9733; &#9733;</option>
                    </select> stars.
                </div>
                <div><input type="submit" class="btn btn-info"></div> 
            </form>
        </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }} text-danger"{% endif %}><strong>{{ message }}</strong></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>